@font-face {
    font-family: amazonember_rg;
    src: url(./fonts/AmazonEmber_Rg.ttf);
}

@font-face {
    font-family: amazonember_md;
    src: url(./fonts/Amazon-Ember-Medium.ttf);
}

body {
    padding: 10px;
    width: 850px;
    }

.breadcrumps {
    font-size: 12px;
    color: #565959;
    font-family: amazonember_md;
}

.metadata {
    margin: 8px 25px;
    font-size: 14px;
}

.title {
    font-weight: lighter;
    font-family: amazonember_md;
    margin: 8px;
}

.author {
    margin: 8px;
    font-family: amazonember_md;
}

.autor-link {
    color: #007185;
}

.main-img {
    width: 300px;
    box-shadow: 0px 2px 5px lightgray;
}

.container {
    display: flex;
}

.ratings {
    width: 120px;
}
.sub-title {
    font-weight: bold;
}

.description {
    font-family: amazonember_rg;
}